 body{
    background-image: url(./biryani.jpg);
    background-repeat: no-repeat;  
    background-size: 100%;
    text-align: center;
 }
 table{
   color:aliceblue;
   padding: 15px;
   border: 1px solid white;
  
 }
 h1{
   color: aliceblue;
 }
 .center{
  margin-right: 15%;
  margin-left: 15%;
 }
 tr:hover{
  background-color: black;
}